{% extends 'base.html' %}

{% block content %}
<h4>Change Mentors for {{ username }}</h4>
<h5>Current Mentors</h5>
<div class="d-flex">
    <table class="table table table-hover">
        <tbody>
            {% for mentor in cur_mentor %}
            <tr>
                <td>
                    {{ mentor }}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<h5>Make changes</h5>
<div class="d-flex">
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
        <p>
            {{ field.label_tag }} <br>
            {{ field }}
        </p>
        {% endfor %}
        {% if form.submitted %}
              <div class="non-field-errors">
                  <p class="form-error">'Select' is not a valid choice</p>
              </div>
        {% elif form.same_mentor %}
              <div class="non-field-errors">
                  <p class="form-error">Selected choice is already a mentor</p>
              </div>
        {% endif %}
        <button type="submit" id="submit_form" class="btn btn-danger">
            Update
        </button>
    </form>
</div>

{% endblock %}
