{% extends 'base.html' %}

{%load extra_filters%}


{% block content %}
<h4>Welcome, admin!</h4>
<div class="d-flex">
    <table class="table table table-hover">
        <thead>
        <tr>
            <th scope="col">Username</th>
            <th scope="col">User Roles</th>
            <th scope="col">New Roles</th>
            <th scope="col">Salary</th>
            <th scope="col">Bonus</th>
            <th scope="col">Fine</th>
            <th scope="col">Audit Probability</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for key, value in user_dict.items %}
            <tr>
                <form method="post">
                    {% csrf_token %}
                    <th>{{ key }}</th>
                    <th>{{ value.existing_role }}</th>
                    <th>{{ value.role }}</th>
                    {% if value.is_worker %}
                        <th>{{ value.salary }}</th>
                        <th>{{ value.bonus }}</th>
                        <th>{{ value.fine }}</th>
                        <th>{{ value.audit_prob }}</th>
                    {% else %}
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    {% endif %}
                    <th><button type="submit" id="id_change_role" class="btn btn-danger" name="{{ key }}">
                        Update
                    </button></th>
                </form>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}

