{% extends "base.html" %}

{% block title %}MultiChat Example{% endblock %}
{% block header_text %}MultiChat Example{% endblock %}

{% block content %}
{% load staticfiles %}
<head>
    <meta charset="utf-8">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/reconnecting-websocket/1.0.0/reconnecting-websocket.js" type="text/javascript"></script>

  
  
  {% block extra_head %} {% endblock %}
<script>
    var mentee_tasks_div="";
    star=0;
    stardict={};
    toggledict={};
    toggle=0; 
    workers_messages_dict_all = {}
    function truncate_messages(workers_messages_dict,truncate){ 
        workers_messages_dict_all = {}
        for(message_thread_id in workers_messages_dict){
         workers_messages_dict_all[message_thread_id] = workers_messages_dict[message_thread_id]
        }
        h3Element = document.createElement('h4');
        messages_length = Object.keys(workers_messages_dict).length;
        truncate_length = messages_length-5; 
        h3Element.innerHTML = 'Chat Threads ('+Object.keys(workers_messages_dict).length+')';
        if("{{role}}"=="mentor"){
        filterElem=document.createElement('button');
        filterid=document.getElementById('mentee_task_div').childNodes[1].childNodes;
        roomId=0;
        for(i =0;i<filterid.length;i++){
          if(filterid[i].className=='room-link joined active'){
            toggledict={};
            roomId=filterid[i].id;
          }
        }
        filterElem.setAttribute('id',roomId);
      }
        divElem = document.getElementById('workers_message_threads');

        $("#workers_message_threads").empty();
        divElem.append(h3Element);
         if("{{role}}" == "mentor"){
          if(toggledict[roomId]==1)
        filterElem.innerHTML="Hide Starred Messages";
      else
        filterElem.innerHTML="Show Starred Messages";
        brElem=document.createElement('br');
        //document.getElementById('starmessagediv2').append(brElem);
        divElem.append(filterElem);
        divElem3=document.createElement('div');
        divElem3.setAttribute('id','star'+roomId);
        divElem3.setAttribute('style','display:none');
        divElem.append(divElem3);
        filterElem.addEventListener('click',function(){
          star="";
          if(toggle==0)
            star="star";
          else
            star="unstar";
          document.getElementById(event.srcElement.id).disabled=true
          bool=event.srcElement.id in toggledict;
          if(!bool){
            toggledict[event.srcElement.id]=0;
          }
          if(toggledict[event.srcElement.id]==0){
          $.ajax(
              {
                  type:"GET",
                  url: "/messages/fetch_message",
                  data:{
                           star:star,
                           room_id:event.srcElement.id

                  },
                  success: function( data ) 
                  {
                     starmessagesdict=data;
                    divElem2=document.createElement('div');

                    roomId=0;
                    for(i=0;i<starmessagesdict.length;i++){
                      roomId=starmessagesdict[i][2];
                      spanElement=document.createElement('span');
                      spanElement.innerHTML=starmessagesdict[i][0]+" : "+starmessagesdict[i][1];
                      brElem=document.createElement('br');
                      divElem2.append(spanElement);
                      divElem2.append(brElem);
                    }
                    divElem2.setAttribute('id','div'+roomId);
                    document.getElementById('star'+roomId).append(divElem2);
                    document.getElementById('star'+roomId).setAttribute('style','display:block');

                  }
               })
           toggledict[event.srcElement.id]=1;
               if(toggledict[roomId]==1)
             filterElem.innerHTML="Hide Starred Messages";
           else
             filterElem.innerHTML="Show Starred Messages";
        }
          else{
            var element = document.getElementById("div"+event.srcElement.id);
            element.parentNode.removeChild(element);
            //parent='#star'+event.srcElement.id;
            //$(parent).remove('#div'+event.srcElement.id);
             document.getElementById('star'+event.srcElement.id).setAttribute('style','display:none');
            toggledict[event.srcElement.id]=0;
                if(toggledict[event.srcElement.id]==1){
                  alert("j")
              filterElem.innerHTML="Hide Starred Messages";
            }
            else
              filterElem.innerHTML="Show Starred Messages";
          }
        
        })
      }

        if(truncate==true){
        keys = Object.keys(workers_messages_dict,truncate);
        truncated_keys = [];
        for(var i=0;i<truncate_length;i++){
         truncated_keys.push(keys.shift());
         }
          for(i=0;i<truncated_keys.length;i++){
            delete workers_messages_dict[truncated_keys[i]];
         }
        }
     for(message_thread_id in workers_messages_dict){
         messages_list = workers_messages_dict[message_thread_id];
         key="starmessage"+message_thread_id;
         stardict[key]='star';
         if(messages_list[1].includes("Your mentor has been changed")){
          spanElement = document.createElement('span');
          spanElement.innerHTML = "Admin" +" : "+messages_list[1];
          spanElement.setAttribute("style","color:red;");
          divElem.append(spanElement);
         }else{
             spanElement = document.createElement('span');
             spanName = document.createElement('span');

             spanName.innerHTML = messages_list[0];
             if('{{ workername }}'== messages_list[0]){
                spanName.setAttribute("style","color:blue;")
             }
             else{
                spanName.setAttribute("style","color:green;")
             }
             spanMessage = document.createElement('span');
             spanMessage.innerHTML = " : " + messages_list[1];
             starElem=document.createElement('span');
             if(messages_list[2]=="unstar")
             starElem.innerHTML='&#9734'+"  ";
           else
            starElem.innerHTML='&#9733'+"  ";
             starid='starmessage'+message_thread_id;
             starElem.setAttribute('id',starid);


             brElem = document.createElement('br');
             divElem.append(brElem);
             if("{{role}}"=="mentor")
             	divElem.append(starElem);
             divElem.append(spanName);
             divElem.append(spanMessage);
             
           }
           try{
	        starElem.addEventListener('click',function(){
	        	toggleStar();
			});
        }
        catch(err){
          //do nothing
        }
             function toggleStar(){
             	key=event.srcElement.id;
              star="";
              if(stardict[key]=="star")
                star="star";
              else
                star="unstar";

               $.ajax(
              {
                  type:"GET",
                  url: "/messages/update_message",
                  data:{
                          message_id:key,
                          star:star
                  },
                  success: function( data ) 
                  {
                      console.log("message sent to view");
                  }
               })
             	if(stardict[key]=='star'){
             		document.getElementById(key).innerHTML='&#9733';
             		stardict[key]='unstar';
             	}
             	else{
             		document.getElementById(key).innerHTML='&#9734';
             		stardict[key]='star';
             	}
             	
             }
     }
     if(truncate == true){
        anchorElem = document.createElement('a');
        anchorElem.innerHTML = 'Show All Messages ...';
        anchorElem.href="#";
        anchorElem.id= "showallMessages";
        brElem = document.createElement('br')
        divElem.append(brElem)
        divElem.append(anchorElem);
        document.getElementById("showallMessages").addEventListener("click", function(){
            truncate_messages(workers_messages_dict_all,false);

        });
     }
     if(truncate == false){
        anchorElem = document.createElement('a');
        anchorElem.innerHTML = 'Show Less Messages ...';
        anchorElem.href="#";
        anchorElem.id= "showlessMessages";
        brElem = document.createElement('br')
        divElem.append(brElem)
        divElem.append(anchorElem);
        document.getElementById("showlessMessages").addEventListener("click", function(){
            truncate_messages(workers_messages_dict_all,true);

        });
     }
    
    }
        $(function () {
            // Correctly decide between ws:// and wss://
            var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
            var ws_path = ws_scheme + '://' + window.location.host + "/messages/stream/";
            //isMentor = ({{ isMentor }});
            participantCount=({{ participant_count }});
            console.log("Connecting to " + ws_path);
            $("#participants").css("display","none");
            //$("#mentee-tasks").css("display","none");
            var socket = new ReconnectingWebSocket(ws_path);
            // Handle incoming messages
            socket.onmessage = function (message) {
                // Decode the JSON
                console.log("Got websocket message " + message.data);

                var data = JSON.parse(message.data);
                // Handle errors
                if (data.error) {
                    alert(data.error);
                    return;
                }
                // Handle joining
                if (data.join) {
                    console.log("Joining room " + data);
                    var roomdiv = $(
                            "<div class='room' id='room-" + data.join + "'>"+
                            "<div class='messages'></div>" +
                            "<form><input><button>Send</button></form>" +
                            "</div>"
                    );
                    //THREAD!
                    $.ajax(
                        {
                            type:"GET",
                            url: "/messages/message_thread",
                            data:{
                                     room_id: data.join
                            },
                            success: function( data ) 
                            {
                                workers_messages_dict = data;
                                truncate_messages(workers_messages_dict,true);
                                
                                brElem = document.createElement('br');
                                divElem.append(brElem);
                            }
                         })

                    // Hook up send button to send a message
                    roomdiv.find("form").on("submit", function () {
                        socket.send(JSON.stringify({
                            "command": "send",
                            "room": data.join,
                            "message": roomdiv.find("input").val()
                        }));
                        
                        current_message = roomdiv.find("input").val();
                         $.ajax(
                        {
                            type:"GET",
                            url: "/messages/save_message",
                            data:{
                                     message: current_message,
                                     room_id: data.join
                            },
                            success: function( data ) 
                            {
                                console.log("message sent to view");
                            }
                         })

                         roomdiv.find("input").val("");
                        return false;
                    });
                    $(".active").removeClass("active")
                    document.getElementById(data.join).classList.add("active");
                    $("#chats").empty();
                    $("#participants").css("display","block");
                    $("#chats").append(roomdiv);
                // Handle leaving
                } else if (data.leave) {
                    console.log("Leaving room " + data.leave);
                    $("#room-" + data.leave).remove();
                    // Handle getting a message
                } else if (data.message || data.msg_type != 0) {
                    var msgdiv = $("#room-" + data.room + " .messages");
                    var ok_msg = "";
                    // msg types are defined in chat/settings.py
                    // Only for demo purposes is hardcoded, in production scenarios, consider call a service.
                    switch (data.msg_type) {
                        case 0:
                            if(participantCount==1){
                                if('{{ workername }}'==data.username){
                                    ok_msg = ok_msg+"<div class='message' style='float:left'>" +
                                    "<b><span class='username' style='color:blue;'>" + data.username + ": </span></b>" +
                                    "<span class='body'>" + data.message + "</span>" +
                                    "</div>";
                                }else{
                                    ok_msg =ok_msg +"<div class='message'>" +
                                    "<b><span class='username' style='color:green;'>" + data.username + ": </span></b>" +
                                    "<span class='body'>" + data.message + "</span>" +
                                    "</div>";
                                }
                            }else{
                                if('{{ curr }}'==data.username){
                                    ok_msg = ok_msg+"<div class='message'>" +
                                    "<b><span class='username' style='color:blue;'>" + data.username + ": </span></b>" +
                                    "<span class='body'>" + data.message + "</span>" +
                                    "</div>";
                                }else{
                                    ok_msg = ok_msg+"<div class='message'>" +
                                    "<b><span class='username' style='color:green;'>Sam:</span></b>" +
                                    "<span class='body'>" + data.message + "</span>" +
                                    "</div>"; 
                                }
                              }
                              ok_msg=ok_msg+"<br/>";
                            break;

                        case 1:
                            // Warning / Advice messages
                            ok_msg = "<div class='contextual-message text-warning'>" + data.message +
                                    "</div>";
                            break;
                        case 2:
                            // Alert / Danger messages
                            ok_msg = "<div class='contextual-message text-danger'>" + data.message +
                                    "</div>";
                            break;
                        case 3:
                            // "Muted" messages
                            ok_msg = "<div class='contextual-message text-muted'>" + data.message +
                                    "</div>";
                            break;
                        default:
                            console.log("Unsupported message type!");
                            return;
                    }
                    msgdiv.append(ok_msg);

                    msgdiv.scrollTop(msgdiv.prop("scrollHeight"));
                } else {
                    console.log("Cannot handle message!");
                }
            };

            // Says if we joined a room or not by if there's a div for it
            inRoom = function (roomId) {
                return $("#room-" + roomId).length > 0;
            };
            $("li.room-link").click(function () {
                roomId = $(this).attr("data-room-id");
                if (inRoom(roomId)) {
                    // Leave room
                    $(this).removeClass("joined");
                    socket.send(JSON.stringify({
                        "command": "leave",
                        "room": roomId
                    }));
                } else {
                    // Join room
                    $(this).addClass("joined");
                    socket.send(JSON.stringify({
                        "command": "join",
                        "room": roomId
                    }));
                }
            });

            // Helpful debugging
            socket.onopen = function () {
                console.log("Connected to chat socket");
            };
            socket.onclose = function () {
                console.log("Disconnected from chat socket");
            }
        });

</script>
    </head>
  <h3>Tasks</h3>
  {% if role == 'mentor'%}
<br/>
  <span>Choose a Mentee Task Thread:</span>
  <div id="mentee_tasks">
<ul class="nav nav-pills">
   {% for worker,tasklist in mentee_task_list.items %} 
   <div id="wrapper_child">
   <div id="wrapper" style="float: left;">
   <div style="float:left;margin-left: 15px">
    <li><b>{{worker}}</b></li>
    <span><b></b></span>
</div>
<br/>
    <div style="float:left;clear:left;" id="mentee_task_div">
    <ul class="nav nav-pills">
         {% for task in tasklist%} 
         <li class="room-link" id="{{ task.1}}" data-room-id="{{ task.1}}"><a>{{ task.0 }}</a></li>
         {% endfor %}
    </ul>
</div>
</div>
     {% endfor %}    
    <!--THREAD DISPLAY DIV-->
  <div id="workers_message_threads" style="float:left;clear:left;"></div>
</div>
</ul>
<br/><br/>
<div id="chats">   
    </div>
  </div>
  {% else %}
  <ul class="nav nav-pills">
    {% for tuj in tuj_list %}
            <li class="room-link" id="{{tuj.room_id}}" data-room-id="{{ tuj.room_id}}"><a>{{ tuj }}</a></li>
        {% empty %}
            <p class="empty">You have no tasks claimed</p>
        {% endfor %}
  </ul>

  <!--THREAD DISPLAY DIV-->
  <div id="workers_message_threads"></div>
   <div id="participants">
            <br/><br/>
        {% for participant in chat_participants %}
        <span>Send Message to: </span><b><span>{{participant}}</span></b>
        {% endfor %}
    </div>
    <div id="chats">   
    </div>
{% endif %}
<div>
</div>
{% endblock %}

{% block extra_body %}
 
{% endblock %}