{% extends "base.html" %}

{% block title %}MultiChat Example{% endblock %}
{% block header_text %}MultiChat Example{% endblock %}

{% block content %}
{% load staticfiles %}
<head>
    <meta charset="utf-8">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/reconnecting-websocket/1.0.0/reconnecting-websocket.js" type="text/javascript"></script>

  
  
  {% block extra_head %} {% endblock %}
<script>
    var mentee_tasks_div="";
    workers_messages_dict_all = {}
    function truncate_messages(workers_messages_dict,truncate){   
        workers_messages_dict_all = {}
        h3Element = document.createElement('h4');
        messages_length = Object.keys(workers_messages_dict).length;
        truncate_length = messages_length-5; 
        h3Element.innerHTML = 'Chat Threads ('+Object.keys(workers_messages_dict).length+')';
        divElem = document.getElementById('workers_message_threads');
        $("#workers_message_threads").empty();
        divElem.append(h3Element);

        if(truncate==true){
        keys = Object.keys(workers_messages_dict,truncate);
        truncated_keys = [];
        for(var i=0;i<truncate_length;i++){
            workers_messages_dict_all[keys[i]] = workers_messages_dict[keys[i]];
         truncated_keys.push(keys.shift());
         }
          for(i=0;i<truncated_keys.length;i++){
            delete workers_messages_dict[truncated_keys[i]];
         }
     }

     for(message_thread_id in workers_messages_dict){
         workers_messages_dict_all[message_thread_id] = workers_messages_dict[message_thread_id]
         messages_list = workers_messages_dict[message_thread_id];
             spanElement = document.createElement('span');
             spanElement.innerHTML = messages_list[0] + " : " + messages_list[1];
             brElem = document.createElement('br');
             divElem.append(brElem);
             divElem.append(spanElement);
     }
     if(truncate == true){
        anchorElem = document.createElement('a');
        anchorElem.innerHTML = 'Show All Messages ...';
        anchorElem.href="#";
        anchorElem.id= "showallMessages";
        brElem = document.createElement('br')
        divElem.append(brElem)
        divElem.append(anchorElem);
        document.getElementById("showallMessages").addEventListener("click", function(){
            truncate_messages(workers_messages_dict_all,false);

        });
     }
     if(truncate == false){
        anchorElem = document.createElement('a');
        anchorElem.innerHTML = 'Show Less Messages ...';
        anchorElem.href="#";
        anchorElem.id= "showlessMessages";
        brElem = document.createElement('br')
        divElem.append(brElem)
        divElem.append(anchorElem);
        document.getElementById("showlessMessages").addEventListener("click", function(){
            truncate_messages(workers_messages_dict_all,true);

        });
     }
    
    }
        $(function () {
            // Correctly decide between ws:// and wss://
            var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
            var ws_path = ws_scheme + '://' + window.location.host + "/messages/stream/";
            isMentor = ({{ isMentor }});
            console.log("Connecting to " + ws_path);
            $("#participants").css("display","none");
            //$("#mentee-tasks").css("display","none");
            var socket = new ReconnectingWebSocket(ws_path);
            // Handle incoming messages
            socket.onmessage = function (message) {
                // Decode the JSON
                console.log("Got websocket message " + message.data);

                var data = JSON.parse(message.data);
                // Handle errors
                if (data.error) {
                    alert(data.error);
                    return;
                }
                // Handle joining
                if (data.join) {
                    console.log("Joining room " + data);
                    var roomdiv = $(
                            "<div class='room' id='room-" + data.join + "'>"+
                            "<div class='messages'></div>" +
                            "<form><input><button>Send</button></form>" +
                            "</div>"
                    );
                    //THREAD!
                    $.ajax(
                        {
                            type:"GET",
                            url: "/messages/message_thread",
                            data:{
                                     room_id: data.join
                            },
                            success: function( data ) 
                            {
                                workers_messages_dict = data;
                                truncate_messages(workers_messages_dict,true);
                                
                                brElem = document.createElement('br');
                                divElem.append(brElem);
                                /*if(truncate_length>0){
                                    anchorElem = document.createElement('a');
                                    anchorElem.innerHTML = 'Show All Messages ...';
                                    anchorElem.href="#";
                                    anchorElem.id= "showAllMessages";
                                    divElem.append(anchorElem);
                                    document.getElementById("showAllMessages").addEventListener("click", function(){
                                        truncate_messages(workers_messages_dict_all,false);

                                    });
                                }*/
                            }
                         })

                    // Hook up send button to send a message
                    roomdiv.find("form").on("submit", function () {
                        socket.send(JSON.stringify({
                            "command": "send",
                            "room": data.join,
                            "message": roomdiv.find("input").val()
                        }));
                        
                        current_message = roomdiv.find("input").val();
                         $.ajax(
                        {
                            type:"GET",
                            url: "/messages/save_message",
                            data:{
                                     message: current_message,
                                     room_id: data.join
                            },
                            success: function( data ) 
                            {
                                console.log("message sent to view");
                            }
                         })

                         roomdiv.find("input").val("");
                        return false;
                    });
                    $(".active").removeClass("active")
                    document.getElementById(data.join).classList.add("active");
                    $("#chats").empty();
                    $("#participants").css("display","block");
                    $("#chats").append(roomdiv);
                // Handle leaving
                } else if (data.leave) {
                    console.log("Leaving room " + data.leave);
                    $("#room-" + data.leave).remove();
                    // Handle getting a message
                } else if (data.message || data.msg_type != 0) {
                    var msgdiv = $("#room-" + data.room + " .messages");
                    var ok_msg = "";
                    // msg types are defined in chat/settings.py
                    // Only for demo purposes is hardcoded, in production scenarios, consider call a service.
                    switch (data.msg_type) {
                        case 0:
                            // Message
                            ok_msg = "<div class='message'>" +
                                    "<b><span class='username'>" + data.username + ": </span></b>" +
                                    "<span class='body'>" + data.message + "</span>" +
                                    "</div>";
                            break;
                        case 1:
                            // Warning / Advice messages
                            ok_msg = "<div class='contextual-message text-warning'>" + data.message +
                                    "</div>";
                            break;
                        case 2:
                            // Alert / Danger messages
                            ok_msg = "<div class='contextual-message text-danger'>" + data.message +
                                    "</div>";
                            break;
                        case 3:
                            // "Muted" messages
                            ok_msg = "<div class='contextual-message text-muted'>" + data.message +
                                    "</div>";
                            break;
                        default:
                            console.log("Unsupported message type!");
                            return;
                    }
                    msgdiv.append(ok_msg);

                    msgdiv.scrollTop(msgdiv.prop("scrollHeight"));
                } else {
                    console.log("Cannot handle message!");
                }
            };

            // Says if we joined a room or not by if there's a div for it
            inRoom = function (roomId) {
                return $("#room-" + roomId).length > 0;
            };
            $("li.room-link").click(function () {
                roomId = $(this).attr("data-room-id");
                if (inRoom(roomId)) {
                    // Leave room
                    $(this).removeClass("joined");
                    socket.send(JSON.stringify({
                        "command": "leave",
                        "room": roomId
                    }));
                } else {
                    // Join room
                    $(this).addClass("joined");
                    socket.send(JSON.stringify({
                        "command": "join",
                        "room": roomId
                    }));
                }
            });

            // Helpful debugging
            socket.onopen = function () {
                console.log("Connected to chat socket");
            };
            socket.onclose = function () {
                console.log("Disconnected from chat socket");
            }
        });

</script>
    </head>
  <h3>Tasks</h3>
  {% if isMentor == 'true'%}
<br/>
  <span>Choose a Mentee Task Thread:</span>
  <div id="mentee_tasks">
<ul class="nav nav-pills">
   {% for worker,tasklist in mentee_task_list.items %} 
   <div id="wrapper_child">
   <div id="wrapper" style="float: left;">
   <div style="float:left;margin-left: 15px">
    <li><b>{{worker}}</b></li>
    <span><b></b></span>
</div>
<br/>
    <div style="float:left;clear:left;">
    <ul class="nav nav-pills">
         {% for task in tasklist%} 
         <li class="room-link" id="{{ task.1}}" data-room-id="{{ task.1}}"><a>{{ task.0 }}</a></li>
         {% endfor %}
    </ul>
</div>
</div>
     {% endfor %}    
    <!--THREAD DISPLAY DIV-->
  <div id="workers_message_threads" style="float:left;clear:left;"></div>
</div>
</ul>
<br/><br/>
<div id="chats">   
    </div>
  </div>
  {% else %}
  <ul class="nav nav-pills">
    {% for tuj in tuj_list %}
            <li class="room-link" id="{{tuj.room_id}}" data-room-id="{{ tuj.room_id}}"><a>{{ tuj }}</a></li>
        {% empty %}
            <p class="empty">You have no tasks claimed</p>
        {% endfor %}
  </ul>

  <!--THREAD DISPLAY DIV-->
  <div id="workers_message_threads"></div>
   <div id="participants">
            <br/><br/>
        {% for participant in chat_participants %}
        <span>Send Message to: </span><b><span>{{participant}}</span></b>
        {% endfor %}
    </div>
    <div id="chats">   
    </div>
{% endif %}
<div>
</div>
{% endblock %}

{% block extra_body %}
 
{% endblock %}